
// Poppins
@font-face {
    font-family: "P-400";
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("opentype");
    font-weight: 400;
    // font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "P-500";
    src: url("/assets/fonts/Poppins/Poppins-Medium.ttf") format("opentype");
    font-weight: 500;
    // font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "P-600";
    src: url("/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("opentype");
    font-weight: 600;
    // font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "P-700";
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("opentype");
    font-weight: 700;
    // font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "P-800";
    src: url("/assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("opentype");
    font-weight: 800;
    // font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "P-900";
    src: url("/assets/fonts/Poppins/Poppins-Black.ttf") format("opentype");
    font-weight: 900;
    // font-style: normal;
    font-display: swap;
}

//NunitoSans
@font-face {
    font-family: "N-400";
    src: url("/assets/fonts/Nunito_Sans/NunitoSans_7pt-Regular.ttf") format("opentype");
    font-weight: 400;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "N-500";
    src: url("/assets/fonts/Nunito_Sans/NunitoSans_7pt-Medium.ttf") format("opentype");
    font-weight: 500;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "N-600";
    src: url("/assets/fonts/Nunito_Sans/NunitoSans_7pt-SemiBold.ttf") format("opentype");
    font-weight: 600;
    // font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "N-700";
    src: url("/assets/fonts/Nunito_Sans/NunitoSans_7pt-Bold.ttf") format("opentype");
    font-weight: 700;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "N-800";
    src: url("/assets/fonts/Nunito_Sans/NunitoSans_7pt-ExtraBold.ttf") format("opentype");
    font-weight: 800;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "N-900";
    src: url("/assets/fonts/Nunito_Sans/NunitoSans_7pt-Black.ttf") format("opentype");
    font-weight: 900;
    // font-style: normal;
    font-display: swap;
}

//Playfair Display
@font-face {
    font-family: "PD-400";
    src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("opentype");
    font-weight: 400;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PD-500";
    src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-Medium.ttf") format("opentype");
    font-weight: 500;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PD-600";
    src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf") format("opentype");
    font-weight: 600;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PD-700";
    src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format("opentype");
    font-weight: 700;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PD-800";
    src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-ExtraBold.ttf") format("opentype");
    font-weight: 800;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PD-900";
    src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-Black.ttf") format("opentype");
    font-weight: 900;
    // font-style: normal;
    font-display: swap;
}

//Satoshi
@font-face {
    font-family: "S-300";
    src: url("/assets/fonts/Satoshi/Satoshi-Light.ttf") format("opentype");
    font-weight: 300;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "S-400";
    src: url("/assets/fonts/Satoshi/Satoshi-Regular.ttf") format("opentype");
    font-weight: 400;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "S-500";
    src: url("/assets/fonts/Satoshi/Satoshi-Medium.ttf") format("opentype");
    font-weight: 500;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "S-700";
    src: url("/assets/fonts/Satoshi/Satoshi-Bold.ttf") format("opentype");
    font-weight: 700;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "S-900";
    src: url("/assets/fonts/Satoshi/Satoshi-Black.ttf") format("opentype");
    font-weight: 900;
    // font-style: normal;
    font-display: swap;
}

